ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           MM
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     MM
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   N400P3A-HOSO-N419009-01
    PIPING-SPEC   A5AA01
    INSULATION-SPEC   HI80
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 6/16/2026 3:36:08 PMToday's Date (Your format) : 16/06/26Today's Date (ISO8601 Small) : 2026-06-16 15:36:08
    ATTRIBUTE20   N400
    ATTRIBUTE21   N400P3A
    ATTRIBUTE22   01
    ATTRIBUTE24   2069N-N400-PID-0021-N413
    ATTRIBUTE16   200 HOSO N419009 A5AA01 HI
    ATTRIBUTE27   2069N-CN002
    ATTRIBUTE29   80 mm
    ATTRIBUTE30   *N400P3A-HOSO-N419009-01*
    ATTRIBUTE31   TPC_S3D_BANC2\BANC2\N400\2069N\Piping\Pipelines\2069N-N400-PID-0021-N413
    ATTRIBUTE17   0.6
    ATTRIBUTE18   130
    ATTRIBUTE19   P-7
    ATTRIBUTE28   H
    ATTRIBUTE23   20%
    ATTRIBUTE26   GC2
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
    ITEM-ATTRIBUTE0    MATERIAL-USER0
    ITEM-ATTRIBUTE2    MATERIAL-USER2
    ITEM-ATTRIBUTE3    MATERIAL-USER3
REDUCER-CONCENTRIC
    COMPONENT-IDENTIFIER    1
    END-POINT    428400.000    464425.000    9945.000     200    FL
    END-POINT    428400.000    464425.000    10223.994     150    FL
    SKEY    RC**
    ITEM-CODE    C2GNGZ7R
    ITEM-DESCRIPTION    Flg Conc Reducer,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNGZ7R
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    REDC
    COMPONENT-ATTRIBUTE24    DGRC20D5DE02L1010000
    COMPONENT-ATTRIBUTE31    278.99
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-912B-644B95689F04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
SUPPORT
    CO-ORDS    428400.000    464425.000    9945.002     200
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    TN412-010
    SUPPORT-TYPE    Pipe Support
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.000
    UCI    {00022311-0000-0000-D653-A40C0C6AC704}
    NAME    TN412-010
    MATERIAL-LIST    EXCLUDE
BOLT
    COMPONENT-IDENTIFIER    2
    MASTER-COMPONENT-IDENTIFIER    1
    CO-ORDS    428400.000    464425.000    10223.994        
    UCI    {000138A9-0000-0000-5D9D-FC24016A7904}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
MISC-COMPONENT
    COMPONENT-IDENTIFIER    3
    END-POINT    428400.000    464425.000    9945.000     200    FL
    END-POINT    428400.000    464425.000    9805.000     200    FL
    CENTRE-POINT    428400.000    464425.000    9875.000        
    SKEY    EX**
    ITEM-CODE    Non-Reportable
    MATERIAL-LIST    EXCLUDE
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    URMN41902
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE40    URMN41902
    STATUS    DOTTED-DIMENSIONED
    UCI    {000138B7-0000-0000-9E2B-644B95689F04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    URMN41902
BOLT
    COMPONENT-IDENTIFIER    4
    MASTER-COMPONENT-IDENTIFIER    3
    CO-ORDS    428400.000    464425.000    9945.000        
    UCI    {000138A9-0000-0000-6416-A40C0C6AC704}
    BOLT-DIA     .75
    BOLT-LENGTH     120
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH90
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  120 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH90
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
BOLT
    COMPONENT-IDENTIFIER    5
    MASTER-COMPONENT-IDENTIFIER    3
    CO-ORDS    428400.000    464425.000    9805.000        
    UCI    {000138A9-0000-0000-C32C-644B95689F04}
    BOLT-DIA     .75
    BOLT-LENGTH     120
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH90
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  120 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH90
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
FLANGE-BLIND
    COMPONENT-IDENTIFIER    6
    END-POINT    428172.048    465684.127    11964.910     25    
    END-POINT    428172.048    465684.127    11977.673     25    
    SKEY    FLBL
    ITEM-CODE    CSDKS32
    ITEM-DESCRIPTION    Bld Flg,ASME B16.5,ASTM A105 PTFE Lined,RF,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CSDKS32
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    17
    COMPONENT-ATTRIBUTE29    FBLD
    COMPONENT-ATTRIBUTE24    FGBL25D5DQ02L10000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-0C2E-644B95689F04}
    INSULATION-SPEC    HI60
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    1.400
VALVE
    COMPONENT-IDENTIFIER    7
    END-POINT    428172.048    465684.127    11812.510     25    FL
    END-POINT    428172.048    465684.127    11964.910     25    FL
    CENTRE-POINT    428172.048    465684.127    11888.710        
    SKEY    VB**
    ITEM-CODE    C2ELRZAX
    ITEM-DESCRIPTION    Bal Flg,FB,LP,API 608,ASTM A216 Gr.WCB PTFE Lined,RF,150 Lbs,, Undefined, Undefined
    FLOW    0
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2ELRZAX
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    17
    COMPONENT-ATTRIBUTE29    BALF
    COMPONENT-ATTRIBUTE24    VBAH20D4010AL1310705LE
    COMPONENT-ATTRIBUTE31    152.4
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-F32D-644B95689F04}
    INSULATION-SPEC    HI60
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    3.640
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH$ORIENT HANDLE UP
    MESSAGE
    TEXT    REUSE
BOLT
    COMPONENT-IDENTIFIER    8
    MASTER-COMPONENT-IDENTIFIER    7
    CO-ORDS    428172.048    465684.127    11812.510        
    UCI    {000138A9-0000-0000-082E-644B95689F04}
    BOLT-DIA     .5
    BOLT-LENGTH     70
    BOLT-QUANTITY    4
    BOLT-ITEM-CODE    C111DH7K
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  70 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH7K
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
BOLT
    COMPONENT-IDENTIFIER    9
    MASTER-COMPONENT-IDENTIFIER    7
    CO-ORDS    428172.048    465684.127    11964.910        
    UCI    {000138A9-0000-0000-172E-644B95689F04}
    BOLT-DIA     .5
    BOLT-LENGTH     70
    BOLT-QUANTITY    4
    BOLT-ITEM-CODE    C111DH7K
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  70 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH7K
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
ELBOW
    COMPONENT-IDENTIFIER    10
    END-POINT    428400.000    464627.946    10426.940     150    FL
    END-POINT    428400.000    464425.000    10223.994     150    FL
    CENTRE-POINT    428400.000    464425.000    10426.940        
    SKEY    EL**
    ITEM-CODE    C2GNFSGB
    ITEM-DESCRIPTION    90Deg Flg Elb,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNFSGB
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    E90
    COMPONENT-ATTRIBUTE24    DGE920D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-182C-9EC46D68AD04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
BOLT
    COMPONENT-IDENTIFIER    11
    MASTER-COMPONENT-IDENTIFIER    10
    CO-ORDS    428400.000    464627.946    10426.940        
    UCI    {000138A9-0000-0000-342C-9EC46D68AD04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
PIPE-FIXED
    COMPONENT-IDENTIFIER    12
    END-POINT    428400.000    465431.181    10426.940     150    
    END-POINT    428400.000    464627.946    10426.940     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    27.098
    UCI    {0001388C-0000-0000-CA2B-9EC46D68AD04}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    803.2
    CUT-PIECE-LENGTH    803.24
FLOW-ARROW
    CO-ORDS    428400.000    465029.564    10426.940
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS    428400.000    465100.000    10426.940     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    WG02 6" C
    SUPPORT-TYPE    Longitudinal Guide Vertical and Horizontal
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.316
    UCI    {00022303-0000-0000-7263-7B6DB2698304}
    NAME    PS-N400-63350
    ERECTION-ITEM
SUPPORT
    CO-ORDS    428400.000    465100.000    10426.940     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    Design Pipe Assembly
    SUPPORT-TYPE    Pipe Support
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.000
    UCI    {00022311-0000-0000-D36D-7B6DB2698304}
    NAME    GUIDE&STOP GAP=0MM
    MATERIAL-LIST    EXCLUDE
SUPPORT
    CO-ORDS    428400.000    465100.000    10426.940     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    SB06 A H10 150 800 1843
    SUPPORT-TYPE    Structural
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    70.729
    UCI    {00022303-0000-0000-7F0D-8673026A8D04}
    NAME    PS-N400-68041
    ERECTION-ITEM
    MESSAGE
    TEXT    First Dimension
SUPPORT
    CO-ORDS    428400.000    465100.000    10426.940     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    CR01 6" 141 300 CS
    SUPPORT-TYPE    Shoe Longitudinal Guide Vertical and Horizontal
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    19.792
    UCI    {00022303-0000-0000-1460-7B6DB2698304}
    NAME    PS-N400-63348
    ERECTION-ITEM
SUPPORT
    CO-ORDS    428400.000    465100.000    10426.940     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    WS02 6" A
    SUPPORT-TYPE    Travel Stop
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    2.600
    UCI    {00022303-0000-0000-3465-7B6DB2698304}
    NAME    PS-N400-63353
    ERECTION-ITEM
BOLT
    COMPONENT-IDENTIFIER    13
    MASTER-COMPONENT-IDENTIFIER    12
    CO-ORDS    428400.000    465431.181    10426.940        
    UCI    {000138A9-0000-0000-6316-A40C0C6AC704}
    BOLT-DIA     .75
    BOLT-LENGTH     160
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH94
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  160 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH94
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
MISC-COMPONENT
    COMPONENT-IDENTIFIER    14
    END-POINT    428400.000    465481.181    10426.940     150    FL
    END-POINT    428400.000    465431.181    10426.940     150    FL
    CENTRE-POINT    428400.000    465456.181    10426.940        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    SPACER_DN150_150_L50-0101
    ITEM-DESCRIPTION    Spacer,ID=150mm,L=50mm, 150Lbs,
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER_DN150_150_L50
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER_DN150_150_L50
    COMPONENT-ATTRIBUTE31    50
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-5012-A40C0C6AC704}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER_DN150_150_L50-0101
ELBOW
    COMPONENT-IDENTIFIER    15
    END-POINT    428400.000    465684.127    10629.886     150    FL
    END-POINT    428400.000    465481.181    10426.940     150    FL
    CENTRE-POINT    428400.000    465684.127    10426.940        
    SKEY    EL**
    ITEM-CODE    C2GNFSGB
    ITEM-DESCRIPTION    90Deg Flg Elb,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNFSGB
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    E90
    COMPONENT-ATTRIBUTE24    DGE920D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-C12B-9EC46D68AD04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
BOLT
    COMPONENT-IDENTIFIER    16
    MASTER-COMPONENT-IDENTIFIER    15
    CO-ORDS    428400.000    465684.127    10629.886        
    UCI    {000138A9-0000-0000-CF2B-9EC46D68AD04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
PIPE-FIXED
    COMPONENT-IDENTIFIER    17
    END-POINT    428400.000    465684.127    11379.554     150    
    END-POINT    428400.000    465684.127    10629.886     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    25.291
    UCI    {0001388C-0000-0000-AA2B-9EC46D68AD04}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    749.7
    CUT-PIECE-LENGTH    749.67
FLOW-ARROW
    CO-ORDS    428400.000    465684.127    11004.720
    FLOW 1
    SKEY FLOW
BOLT
    COMPONENT-IDENTIFIER    18
    MASTER-COMPONENT-IDENTIFIER    17
    CO-ORDS    428400.000    465684.127    11379.554        
    UCI    {000138A9-0000-0000-C81C-A40C0C6AC704}
    BOLT-DIA     .75
    BOLT-LENGTH     160
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH94
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  160 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH94
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
MISC-COMPONENT
    COMPONENT-IDENTIFIER    19
    END-POINT    428400.000    465684.127    11429.554     150    FL
    END-POINT    428400.000    465684.127    11379.554     150    FL
    CENTRE-POINT    428400.000    465684.127    11404.554        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    EAST
    ITEM-CODE    SPACER_DN150_150_L50-0102
    ITEM-DESCRIPTION    Spacer,ID=150mm,L=50mm, 150Lbs,
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER_DN150_150_L50
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER_DN150_150_L50
    COMPONENT-ATTRIBUTE31    50
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-E418-A40C0C6AC704}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER_DN150_150_L50-0102
ELBOW
    COMPONENT-IDENTIFIER    20
    END-POINT    428197.054    465684.127    11632.500     150    FL
    END-POINT    428400.000    465684.127    11429.554     150    FL
    CENTRE-POINT    428400.000    465684.127    11632.500        
    SKEY    EL**
    ITEM-CODE    C2GNFSGB
    ITEM-DESCRIPTION    90Deg Flg Elb,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNFSGB
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    E90
    COMPONENT-ATTRIBUTE24    DGE920D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-A12B-9EC46D68AD04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
TEE
    COMPONENT-IDENTIFIER    21
    END-POINT    428147.041    465684.127    11632.500     150    FL
    END-POINT    428197.054    465684.127    11632.500     150    FL
    CENTRE-POINT    428172.048    465684.127    11632.500        
    BRANCH1-POINT    428172.048    465684.127    11812.510     25    FL
    SKEY    TE**
    ITEM-CODE    C25HA1JZ
    ITEM-DESCRIPTION    Waf Red Te w/Flg Br,Mnf Std,ASTM A234 Gr.WPB PTFE/PFA lin,Between RF Flanges/RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C25HA1JZ
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    TRB
    COMPONENT-ATTRIBUTE24    DMFRMMD5DF01L1010100
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-6A2D-644B95689F04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
PIPE-FIXED
    COMPONENT-IDENTIFIER    22
    END-POINT    427845.066    465684.127    11632.500     150    
    END-POINT    428147.041    465684.127    11632.500     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    10.187
    UCI    {0001388C-0000-0000-812D-644B95689F04}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    302.0
    CUT-PIECE-LENGTH    301.98
FLOW-ARROW
    CO-ORDS    427996.053    465684.127    11632.500
    FLOW 1
    SKEY FLOW
BOLT
    COMPONENT-IDENTIFIER    23
    MASTER-COMPONENT-IDENTIFIER    22
    CO-ORDS    428147.041    465684.127    11632.500        
    UCI    {000138A9-0000-0000-AC2D-644B95689F04}
    BOLT-DIA     .75
    BOLT-LENGTH     160
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH94
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  160 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH94
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
MISC-COMPONENT
    COMPONENT-IDENTIFIER    24
    END-POINT    427833.066    465684.127    11632.500     150    FL
    END-POINT    427845.066    465684.127    11632.500     150    FL
    CENTRE-POINT    427839.066    465684.127    11632.500        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    SPACER-150-0471
    ITEM-DESCRIPTION    Spacer for lined Butterfly Valve, ID=150mm,L=12mm, 150Lbs,
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER-150
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER-150
    COMPONENT-ATTRIBUTE31    12
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-962E-644B95689F04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER-150-0471
VALVE
    COMPONENT-IDENTIFIER    25
    END-POINT    427777.440    465684.127    11632.500     150    FL
    END-POINT    427833.066    465684.127    11632.500     150    FL
    CENTRE-POINT    427805.253    465684.127    11632.500        
    SKEY    VY**
    ITEM-CODE    C2ELRZB4
    ITEM-DESCRIPTION    But Waf,API 609 Cat.A,ASTM A216 Gr.WCB PTFE Lined,RF or FF,150 Lbs,, Undefined, Undefined
    FLOW    1
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2ELRZB4
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BFYHP
    COMPONENT-ATTRIBUTE24    VYAD21D40101L1400702LE
    COMPONENT-ATTRIBUTE31    55.63
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-292E-644B95689F04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    40.052
    SPINDLE-DIRECTION    UP
    DIRECTION    UP$ORIENT HANDLE WEST
MISC-COMPONENT
    COMPONENT-IDENTIFIER    26
    END-POINT    427765.440    465684.127    11632.500     150    FL
    END-POINT    427777.440    465684.127    11632.500     150    FL
    CENTRE-POINT    427771.440    465684.127    11632.500        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    SPACER-150-0612
    ITEM-DESCRIPTION    Spacer for lined Butterfly Valve, ID=150mm,L=12mm, 150Lbs,
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER-150
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER-150
    COMPONENT-ATTRIBUTE31    12
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-1112-F4B7136A7504}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER-150-0612
PIPE-FIXED
    COMPONENT-IDENTIFIER    27
    END-POINT    427041.515    465684.127    11632.500     150    
    END-POINT    427765.440    465684.127    11632.500     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    24.422
    UCI    {0001388C-0000-0000-1712-F4B7136A7504}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    723.9
    CUT-PIECE-LENGTH    723.92
FLOW-ARROW
    CO-ORDS    427403.477    465684.127    11632.500
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS    427378.477    465684.127    11632.500     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    Design Pipe Assembly
    SUPPORT-TYPE    Pipe Support
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.000
    UCI    {00022311-0000-0000-3026-5F35A169EC04}
    NAME    ONLY GUIDE+STOP,NO SUPPORT
SUPPORT
    CO-ORDS    427378.477    465684.127    11632.500     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    CR01 6" 100 300 CS
    SUPPORT-TYPE    Shoe Longitudinal Guide Vertical and Horizontal
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    18.043
    UCI    {00022303-0000-0000-0274-7B6DB2698304}
    NAME    PS-N400-63356
    ERECTION-ITEM
SUPPORT
    CO-ORDS    427378.477    465684.127    11632.500     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    WG02 6" C
    SUPPORT-TYPE    Longitudinal Guide Vertical and Horizontal
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.316
    UCI    {00022303-0000-0000-2E7E-7B6DB2698304}
    NAME    PS-N400-63360
    ERECTION-ITEM
SUPPORT
    CO-ORDS    427378.477    465684.127    11632.500     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    WS02 6" A
    SUPPORT-TYPE    Travel Stop
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    2.600
    UCI    {00022303-0000-0000-6F84-7B6DB2698304}
    NAME    PS-N400-63365
    ERECTION-ITEM
SUPPORT
    CO-ORDS    427378.477    465684.127    11632.500     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    SB08 A H10 456 0
    SUPPORT-TYPE    Structural
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    7.151
    UCI    {00022303-0000-0000-4E77-7B6DB2698304}
    NAME    PS-N400-63362
    ERECTION-ITEM
    MESSAGE
    TEXT    First Dimension
BOLT
    COMPONENT-IDENTIFIER    28
    MASTER-COMPONENT-IDENTIFIER    27
    CO-ORDS    427765.440    465684.127    11632.500        
    UCI    {000138A9-0000-0000-5A2E-644B95689F04}
    BOLT-DIA     .75
    BOLT-LENGTH     190
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH97
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  190 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH97
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
MISC-COMPONENT
    COMPONENT-IDENTIFIER    29
    END-POINT    426991.515    465684.127    11632.500     150    FL
    END-POINT    427041.515    465684.127    11632.500     150    FL
    CENTRE-POINT    427016.515    465684.127    11632.500        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    SPACER_DN150_150_L50-0104
    ITEM-DESCRIPTION    Spacer,ID=150mm,L=50mm, 150Lbs,
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER_DN150_150_L50
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER_DN150_150_L50
    COMPONENT-ATTRIBUTE31    50
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-E42E-644B95689F04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER_DN150_150_L50-0104
TEE
    COMPONENT-IDENTIFIER    30
    END-POINT    426901.523    465684.127    11632.500     150    FL
    END-POINT    426991.515    465684.127    11632.500     150    FL
    CENTRE-POINT    426946.519    465684.127    11632.500        
    BRANCH1-POINT    426946.519    465684.127    11812.510     50    FL
    SKEY    TE**
    ITEM-CODE    C25HA1K2
    ITEM-DESCRIPTION    Waf Red Te w/Flg Br,Mnf Std,ASTM A234 Gr.WPB PTFE/PFA lin,Between RF Flanges/RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C25HA1K2
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    TRB
    COMPONENT-ATTRIBUTE24    DMFRMMD5DF01L1010100
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-0CB9-2782D8687C04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
ELBOW
    COMPONENT-IDENTIFIER    31
    END-POINT    426698.577    465684.127    11429.554     150    FL
    END-POINT    426901.523    465684.127    11632.500     150    FL
    CENTRE-POINT    426698.577    465684.127    11632.500        
    SKEY    EL**
    ITEM-CODE    C2GNFSGB
    ITEM-DESCRIPTION    90Deg Flg Elb,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNFSGB
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    E90
    COMPONENT-ATTRIBUTE24    DGE920D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-A829-9EC46D68AD04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
BOLT
    COMPONENT-IDENTIFIER    32
    MASTER-COMPONENT-IDENTIFIER    31
    CO-ORDS    426901.523    465684.127    11632.500        
    UCI    {000138A9-0000-0000-42B9-2782D8687C04}
    BOLT-DIA     .75
    BOLT-LENGTH     250
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH9D
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  250 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH9D
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
PIPE-FIXED
    COMPONENT-IDENTIFIER    33
    END-POINT    426698.577    465684.127    9903.200     150    
    END-POINT    426698.577    465684.127    11429.554     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    51.493
    UCI    {0001388C-0000-0000-5F06-2DADCC688D04}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    1526.4
    CUT-PIECE-LENGTH    1526.35
FLOW-ARROW
    CO-ORDS    426698.577    465684.127    10666.377
    FLOW 1
    SKEY FLOW
BOLT
    COMPONENT-IDENTIFIER    34
    MASTER-COMPONENT-IDENTIFIER    33
    CO-ORDS    426698.577    465684.127    11429.554        
    UCI    {000138A9-0000-0000-8E06-2DADCC688D04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
TEE
    COMPONENT-IDENTIFIER    35
    END-POINT    426698.577    465684.127    9496.800     150    FL
    END-POINT    426698.577    465684.127    9903.200     150    FL
    CENTRE-POINT    426698.577    465684.127    9700.000        
    BRANCH1-POINT    426901.777    465684.127    9700.000     150    FL
    SKEY    TE**
    ITEM-CODE    C2GNJ6U3
    ITEM-DESCRIPTION    Flg Eq Te,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNJ6U3
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    T
    COMPONENT-ATTRIBUTE24    DGTE20D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-2607-2DADCC688D04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
BOLT
    COMPONENT-IDENTIFIER    36
    MASTER-COMPONENT-IDENTIFIER    35
    CO-ORDS    426901.777    465684.127    9700.000        
    UCI    {000138A9-0000-0000-0F0C-2DADCC688D04}
    BOLT-DIA     .75
    BOLT-LENGTH     190
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH97
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  190 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH97
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
BOLT
    COMPONENT-IDENTIFIER    37
    MASTER-COMPONENT-IDENTIFIER    35
    CO-ORDS    426698.577    465684.127    9903.200        
    UCI    {000138A9-0000-0000-8C07-2DADCC688D04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
ELBOW
    COMPONENT-IDENTIFIER    38
    END-POINT    426603.353    465863.346    9293.854     150    FL
    END-POINT    426698.577    465684.127    9496.800     150    FL
    CENTRE-POINT    426698.577    465684.127    9293.854        
    SKEY    EL**
    ITEM-CODE    C2GNFSGB
    ITEM-DESCRIPTION    90Deg Flg Elb,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNFSGB
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    E90
    COMPONENT-ATTRIBUTE24    DGE920D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-5606-2DADCC688D04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
BOLT
    COMPONENT-IDENTIFIER    39
    MASTER-COMPONENT-IDENTIFIER    38
    CO-ORDS    426698.577    465684.127    9496.800        
    UCI    {000138A9-0000-0000-9006-2DADCC688D04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
PIPE-FIXED
    COMPONENT-IDENTIFIER    40
    END-POINT    426324.212    466388.713    9293.854     150    
    END-POINT    426603.353    465863.346    9293.854     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    20.070
    UCI    {0001388C-0000-0000-0706-2DADCC688D04}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    594.9
    CUT-PIECE-LENGTH    594.92
FLOW-ARROW
    CO-ORDS    426463.783    466126.030    9293.854
    FLOW 1
    SKEY FLOW
SUPPORT
    CO-ORDS    426463.783    466126.030    9293.854     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    WS02 6" A
    SUPPORT-TYPE    Travel Stop
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    2.600
    UCI    {00022303-0000-0000-4AE8-7B6DB2698304}
    NAME    PS-N400-63387
    ERECTION-ITEM
SUPPORT
    CO-ORDS    426463.783    466126.030    9293.854     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    Design Pipe Assembly
    SUPPORT-TYPE    Pipe Support
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.000
    UCI    {00022311-0000-0000-5124-5F35A169EC04}
    NAME    STOP N-S GAP=8MM
    MATERIAL-LIST    EXCLUDE
SUPPORT
    CO-ORDS    426463.783    466126.030    9293.854     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    CR01 6" 100 300 CS
    SUPPORT-TYPE    Shoe Longitudinal Guide Vertical and Horizontal
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    18.043
    UCI    {00022303-0000-0000-148E-7B6DB2698304}
    NAME    PS-N400-63367
    ERECTION-ITEM
SUPPORT
    CO-ORDS    426463.783    466126.030    9293.854     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    SB04 A H10  150 500 620
    SUPPORT-TYPE    Structural
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    17.577
    UCI    {00022303-0000-0000-ADCD-7B6DB2698304}
    NAME    PS-N400-63382
    ERECTION-ITEM
    MESSAGE
    TEXT    First Dimension
BOLT
    COMPONENT-IDENTIFIER    41
    MASTER-COMPONENT-IDENTIFIER    40
    CO-ORDS    426324.212    466388.713    9293.854        
    UCI    {000138A9-0000-0000-2606-2DADCC688D04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
BOLT
    COMPONENT-IDENTIFIER    42
    MASTER-COMPONENT-IDENTIFIER    40
    CO-ORDS    426603.353    465863.346    9293.854        
    UCI    {000138A9-0000-0000-8F06-2DADCC688D04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
ELBOW
    COMPONENT-IDENTIFIER    43
    END-POINT    426324.212    466388.713    9293.854     150    FL
    END-POINT    426228.988    466567.932    9090.908     150    FL
    CENTRE-POINT    426228.988    466567.932    9293.854        
    SKEY    EL**
    ITEM-CODE    C2GNFSGB
    ITEM-DESCRIPTION    90Deg Flg Elb,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNFSGB
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    E90
    COMPONENT-ATTRIBUTE24    DGE920D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-FE05-2DADCC688D04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
PIPE-FIXED
    COMPONENT-IDENTIFIER    44
    END-POINT    426228.988    466567.932    9090.908     150    
    END-POINT    426228.988    466567.932    6717.745     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    80.061
    UCI    {0001388C-0000-0000-CD3A-A40C0C6AC704}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    2373.2
    CUT-PIECE-LENGTH    2373.16
FLOW-ARROW
    CO-ORDS    426228.988    466567.932    7904.327
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS    426228.988    466567.932    8532.000     150
    SUPPORT-DIRECTION    NORTH
    SKEY    FLOR
    ITEM-CODE    ..
    ITEM-DESCRIPTION    Design Pipe Assembly
    SUPPORT-TYPE    Floor Penetration
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.000
    UCI    {00022311-0000-0000-EEF4-7B6DB2698304}
    NAME    PLTF.
    MATERIAL-LIST    EXCLUDE
BOLT
    COMPONENT-IDENTIFIER    45
    MASTER-COMPONENT-IDENTIFIER    44
    CO-ORDS    426228.988    466567.932    9090.908        
    UCI    {000138A9-0000-0000-2706-2DADCC688D04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
MISC-COMPONENT
    COMPONENT-IDENTIFIER    46
    END-POINT    426228.988    466567.932    6717.745     150    FL
    END-POINT    426228.988    466567.932    6667.745     150    FL
    CENTRE-POINT    426228.988    466567.932    6692.745        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    EAST
    ITEM-CODE    SPACER_DN150_150_L50-0106
    ITEM-DESCRIPTION    Spacer,ID=150mm,L=50mm, 150Lbs,
    FLOW    2
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER_DN150_150_L50
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER_DN150_150_L50
    COMPONENT-ATTRIBUTE31    50
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-C53A-A40C0C6AC704}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER_DN150_150_L50-0106
ELBOW
    COMPONENT-IDENTIFIER    47
    END-POINT    426228.988    466567.932    6667.745     150    FL
    END-POINT    426228.988    466364.986    6464.799     150    FL
    CENTRE-POINT    426228.988    466567.932    6464.799        
    SKEY    EL**
    ITEM-CODE    C2GNFSGB
    ITEM-DESCRIPTION    90Deg Flg Elb,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNFSGB
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    E90
    COMPONENT-ATTRIBUTE24    DGE920D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-EE83-3E59AE688704}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
BOLT
    COMPONENT-IDENTIFIER    48
    MASTER-COMPONENT-IDENTIFIER    47
    CO-ORDS    426228.988    466567.932    6667.745        
    UCI    {000138A9-0000-0000-6947-A40C0C6AC704}
    BOLT-DIA     .75
    BOLT-LENGTH     160
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH94
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  160 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH94
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
PIPE-FIXED
    COMPONENT-IDENTIFIER    49
    END-POINT    426228.988    466364.986    6464.799     150    
    END-POINT    426228.988    464875.739    6464.799     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    50.241
    UCI    {0001388C-0000-0000-ED6D-6877AF698E04}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    1489.2
    CUT-PIECE-LENGTH    1489.25
FLOW-ARROW
    CO-ORDS    426228.988    465620.363    6464.799
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS    426228.988    465100.192    6464.799     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    CR01 6" 100 300 CS
    SUPPORT-TYPE    Shoe Longitudinal Guide Vertical and Horizontal
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    18.043
    UCI    {00022303-0000-0000-3DFC-7B6DB2698304}
    NAME    PS-N400-63951
    ERECTION-ITEM
SUPPORT
    CO-ORDS    426228.988    465100.501    6464.799     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    SB06 B H10 300 600 1800
    SUPPORT-TYPE    Structural
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    66.246
    UCI    {00022303-0000-0000-ADFD-7B6DB2698304}
    NAME    PS-N400-63979
    ERECTION-ITEM
    MESSAGE
    TEXT    First Dimension
BOLT
    COMPONENT-IDENTIFIER    50
    MASTER-COMPONENT-IDENTIFIER    49
    CO-ORDS    426228.988    466364.986    6464.799        
    UCI    {000138A9-0000-0000-FD83-3E59AE688704}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
TEE
    COMPONENT-IDENTIFIER    51
    END-POINT    426228.988    464875.739    6464.799     150    FL
    END-POINT    426228.988    464469.339    6464.799     150    FL
    CENTRE-POINT    426228.988    464672.539    6464.799        
    BRANCH1-POINT    426025.788    464672.539    6464.799     100    FL
    SKEY    TE**
    ITEM-CODE    C2GNJ6WF
    ITEM-DESCRIPTION    Flg Red Te,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2GNJ6WF
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    TRB
    COMPONENT-ATTRIBUTE24    DGTR20D5DE02L1010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-D06D-6877AF698E04}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
SUPPORT
    CO-ORDS    426228.988    464800.000    6464.799     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    WG02 6" C
    SUPPORT-TYPE    Longitudinal Guide Vertical and Horizontal
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.316
    UCI    {00022303-0000-0000-5006-3180B2698304}
    NAME    PS-N400-63395
    ERECTION-ITEM
BOLT
    COMPONENT-IDENTIFIER    52
    MASTER-COMPONENT-IDENTIFIER    51
    CO-ORDS    426228.988    464875.739    6464.799        
    UCI    {000138A9-0000-0000-5C6E-6877AF698E04}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
PIPE-FIXED
    COMPONENT-IDENTIFIER    53
    END-POINT    426228.988    464469.339    6464.799     150    
    END-POINT    426228.988    463795.312    6464.799     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    22.739
    UCI    {0001388C-0000-0000-A949-FC24016A7904}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    674.0
    CUT-PIECE-LENGTH    674.03
FLOW-ARROW
    CO-ORDS    426228.988    464132.326    6464.799
    FLOW 2
    SKEY FLOW
BOLT
    COMPONENT-IDENTIFIER    54
    MASTER-COMPONENT-IDENTIFIER    53
    CO-ORDS    426228.988    464469.339    6464.799        
    UCI    {000138A9-0000-0000-994D-FC24016A7904}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
MISC-COMPONENT
    COMPONENT-IDENTIFIER    55
    END-POINT    426228.988    463783.312    6464.799     150    FL
    END-POINT    426228.988    463795.312    6464.799     150    FL
    CENTRE-POINT    426228.988    463789.312    6464.799        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    SPACER-150-0474
    ITEM-DESCRIPTION    Spacer for lined Butterfly Valve, ID=150mm,L=12mm, 150Lbs,
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER-150
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER-150
    COMPONENT-ATTRIBUTE31    12
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-EA44-BD97C0692104}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER-150-0474
VALVE
    COMPONENT-IDENTIFIER    56
    END-POINT    426228.988    463783.312    6464.799     150    FL
    END-POINT    426228.988    463727.686    6464.799     150    FL
    CENTRE-POINT    426228.988    463755.499    6464.799        
    SKEY    VY**
    ITEM-CODE    C2ELRZB4
    ITEM-DESCRIPTION    But Waf,API 609 Cat.A,ASTM A216 Gr.WCB PTFE Lined,RF or FF,150 Lbs,, Undefined, Undefined
    FLOW    2
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2ELRZB4
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BFYHP
    COMPONENT-ATTRIBUTE24    VYAD21D40101L1400702LE
    COMPONENT-ATTRIBUTE31    55.63
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-683F-BD97C0692104}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    40.052
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST$ORIENT HANDLE NORTH
MISC-COMPONENT
    COMPONENT-IDENTIFIER    57
    END-POINT    426228.988    463715.686    6464.799     150    FL
    END-POINT    426228.988    463727.686    6464.799     150    FL
    CENTRE-POINT    426228.988    463721.686    6464.799        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    SPACER-150-0473
    ITEM-DESCRIPTION    Spacer for lined Butterfly Valve, ID=150mm,L=12mm, 150Lbs,
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER-150
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER-150
    COMPONENT-ATTRIBUTE31    12
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-E439-BD97C0692104}
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER-150-0473
PIPE-FIXED
    COMPONENT-IDENTIFIER    58
    END-POINT    426228.988    463715.686    6464.799     150    
    END-POINT    426228.988    461715.686    6464.799     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    67.472
    UCI    {0001388C-0000-0000-1440-B106C2695304}
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    2000.0
    CUT-PIECE-LENGTH    2000.00
FLOW-ARROW
    CO-ORDS    426228.988    462715.686    6464.799
    FLOW 2
    SKEY FLOW
SUPPORT
    CO-ORDS    426228.988    463200.000    6464.799     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    CR01 6" 100 300 CS
    SUPPORT-TYPE    Shoe Longitudinal Guide Vertical and Horizontal
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    18.043
    UCI    {00022303-0000-0000-0908-3180B2698304}
    NAME    PS-N400-63953
    ERECTION-ITEM
BOLT
    COMPONENT-IDENTIFIER    59
    MASTER-COMPONENT-IDENTIFIER    58
    CO-ORDS    426228.988    463715.686    6464.799        
    UCI    {000138A9-0000-0000-1859-FC24016A7904}
    BOLT-DIA     .75
    BOLT-LENGTH     190
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH97
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  190 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    HOSO-N419009
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A5AA01
    COMPONENT-ATTRIBUTE10    C111DH97
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
VALVE
    COMPONENT-IDENTIFIER    60
    CONTINUATION
    END-POINT    426946.519    465684.127    11812.510     50    FL
    END-POINT    426946.519    465684.127    12015.710     50    FL
    CENTRE-POINT    426946.519    465684.127    11914.110        
    SKEY    VB**
    ITEM-CODE    C49XERZS
    MATERIAL-LIST    EXCLUDE
    FLOW    3
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N413404
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C49XERZS
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BALF
    COMPONENT-ATTRIBUTE24    VBAH20I4040AL1M90705LS
    COMPONENT-ATTRIBUTE31    203.2
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {00013885-0000-0000-B7B9-2782D8687C04}
    INSULATION-SPEC    PP30
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    11.026
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH$ORIENT HANDLE UP
MISC-COMPONENT
    COMPONENT-IDENTIFIER    61
    CONTINUATION
    END-POINT    426901.777    465684.127    9700.000     150    FL
    END-POINT    426913.777    465684.127    9700.000     150    FL
    CENTRE-POINT    426907.777    465684.127    9700.000        
    SKEY    SR
    SLIP-PLATE-TAIL-DIRECTION    UP
    ITEM-CODE    SPACER-150-0515
    MATERIAL-LIST    EXCLUDE
    FLOW    1
    COMPONENT-ATTRIBUTE1    ENGR
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419202
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    SPACER-150
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BLSPA
    COMPONENT-ATTRIBUTE24    SPACER-150
    COMPONENT-ATTRIBUTE31    12
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    UCI    {000138B7-0000-0000-760B-2DADCC688D04}
    INSULATION-SPEC    PP40
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    ERECTION-ITEM
    WEIGHT    0.000
    MESSAGE
    TEXT    SPACER-150-0515
PIPE-FIXED
    COMPONENT-IDENTIFIER    62
    END-POINT    426025.788    464672.539    6464.799     100    
    END-POINT    425170.311    464672.539    6464.799     100    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    16.111
    UCI    {0001388C-0000-0000-1170-FC24016A7904}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    C2F8R44F
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N419008
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R44F
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    855.5
    CONTINUATION
FLOW-ARROW
    CO-ORDS    425598.049    464672.539    6464.799
    FLOW 1
    SKEY FLOW
PIPE-FIXED
    COMPONENT-IDENTIFIER    63
    END-POINT    426228.988    461715.686    6464.799     150    
    END-POINT    426228.988    456715.686    6464.799     150    
    SKEY    FPFL
    ERECTION-ITEM
    INSULATION-SPEC    HI80
    INSULATION ON
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A5AA01
    WEIGHT    168.680
    UCI    {0001388C-0000-0000-F60C-3180B2698304}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    C2F8R46D
    ITEM-DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    N400P3A
    COMPONENT-ATTRIBUTE6    HOSO-N413401
    COMPONENT-ATTRIBUTE27    N400
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C2F8R46D
    COMPONENT-ATTRIBUTE13    S-STD
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPFP20D40A02L10001WL
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A5AA01
    COMPONENT-ATTRIBUTE41    5000.0
    CONTINUATION
FLOW-ARROW
    CO-ORDS    426228.988    459215.686    6464.799
    FLOW 2
    SKEY FLOW
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS    428400.000    464425.000    9805.000        
    REFERENCE-DIMENSION-PRIME
    CO-ORDS    425400.000    464425.000    9805.000        
    REFERENCED-ITEM
    CO-ORDS    425400.000    456000.000    9805.000        
    CO-ORDS    425400.000    481000.000    9805.000        
    SKEY    GRD
    MESSAGE
    TEXT    405
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS    428400.000    464425.000    9805.000        
    REFERENCE-DIMENSION-PRIME
    CO-ORDS    428400.000    467000.000    9805.000        
    REFERENCED-ITEM
    CO-ORDS    468400.000    467000.000    9805.000        
    CO-ORDS    400400.000    467000.000    9805.000        
    SKEY    GRD
    MESSAGE
    TEXT    4C
END-CONNECTION-EQUIPMENT
    CO-ORDS    428400.000    464425.000    9805.000
    CONNECTION-REFERENCE  KN41900/A1$8 in RFFE 150
END-POSITION-CLOSED
    CO-ORDS    428172.048    465684.127    11977.673
END-CONNECTION-PIPELINE
    CO-ORDS    426946.519    465684.127    12015.710
    CONNECTION-REFERENCE  N400P3A-HOSO-N413404-01
END-CONNECTION-PIPELINE
    CO-ORDS    426913.777    465684.127    9700.000
    CONNECTION-REFERENCE  N400P3A-HOSO-N419202-01
END-CONNECTION-PIPELINE
    CO-ORDS    425170.311    464672.539    6464.799
    CONNECTION-REFERENCE  N400P3A-HOSO-N419008-01
END-CONNECTION-PIPELINE
    CO-ORDS    426228.988    456715.686    6464.799
    CONNECTION-REFERENCE  N400P3A-HOSO-N413401-01
MATERIALS
ITEM-CODE    C2GNGZ7R
    DESCRIPTION    Flg Conc Reducer,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    C2GNGZ7R
    MATERIAL-USER2    
    MATERIAL-USER3    DGRC20D5DE02L1010000
ITEM-CODE    ..
    DESCRIPTION    TN412-010
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    C111DH8Z
    DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    MATERIAL-USER0    
    MATERIAL-USER2    BTS222A005010D00
    MATERIAL-USER3    
ITEM-CODE    C111DH90
    DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  120 mm Length
    MATERIAL-USER0    
    MATERIAL-USER2    BTS222A005010D00
    MATERIAL-USER3    
ITEM-CODE    CSDKS32
    DESCRIPTION    Bld Flg,ASME B16.5,ASTM A105 PTFE Lined,RF,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    CSDKS32
    MATERIAL-USER2    
    MATERIAL-USER3    FGBL25D5DQ02L10000
ITEM-CODE    C2ELRZAX
    DESCRIPTION    Bal Flg,FB,LP,API 608,ASTM A216 Gr.WCB PTFE Lined,RF,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    C2ELRZAX
    MATERIAL-USER2    
    MATERIAL-USER3    VBAH20D4010AL1310705LE
ITEM-CODE    C111DH7K
    DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  70 mm Length
    MATERIAL-USER0    
    MATERIAL-USER2    BTS222A005010D00
    MATERIAL-USER3    
ITEM-CODE    C2GNFSGB
    DESCRIPTION    90Deg Flg Elb,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    C2GNFSGB
    MATERIAL-USER2    
    MATERIAL-USER3    DGE920D5DE02L1010000
ITEM-CODE    C2F8R46D
    DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    MATERIAL-USER0    C2F8R46D
    MATERIAL-USER2    
    MATERIAL-USER3    PPFP20D40A02L10001WL
ITEM-CODE    ..
    DESCRIPTION    WG02 6" C
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    ..
    DESCRIPTION    Design Pipe Assembly
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    ..
    DESCRIPTION    SB06 A H10 150 800 1843
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    ..
    DESCRIPTION    CR01 6" 141 300 CS
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    ..
    DESCRIPTION    WS02 6" A
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    C111DH94
    DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  160 mm Length
    MATERIAL-USER0    
    MATERIAL-USER2    BTS222A005010D00
    MATERIAL-USER3    
ITEM-CODE    SPACER_DN150_150_L50-0101
    DESCRIPTION    Spacer,ID=150mm,L=50mm, 150Lbs,
    MATERIAL-USER0    SPACER_DN150_150_L50
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    SPACER_DN150_150_L50-0102
    DESCRIPTION    Spacer,ID=150mm,L=50mm, 150Lbs,
    MATERIAL-USER0    SPACER_DN150_150_L50
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    C25HA1JZ
    DESCRIPTION    Waf Red Te w/Flg Br,Mnf Std,ASTM A234 Gr.WPB PTFE/PFA lin,Between RF Flanges/RF,Seamless,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    C25HA1JZ
    MATERIAL-USER2    
    MATERIAL-USER3    DMFRMMD5DF01L1010100
ITEM-CODE    SPACER-150-0471
    DESCRIPTION    Spacer for lined Butterfly Valve, ID=150mm,L=12mm, 150Lbs,
    MATERIAL-USER0    SPACER-150
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    C2ELRZB4
    DESCRIPTION    But Waf,API 609 Cat.A,ASTM A216 Gr.WCB PTFE Lined,RF or FF,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    C2ELRZB4
    MATERIAL-USER2    
    MATERIAL-USER3    VYAD21D40101L1400702LE
ITEM-CODE    SPACER-150-0612
    DESCRIPTION    Spacer for lined Butterfly Valve, ID=150mm,L=12mm, 150Lbs,
    MATERIAL-USER0    SPACER-150
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    ..
    DESCRIPTION    CR01 6" 100 300 CS
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    ..
    DESCRIPTION    SB08 A H10 456 0
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    C111DH97
    DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  190 mm Length
    MATERIAL-USER0    
    MATERIAL-USER2    BTS222A005010D00
    MATERIAL-USER3    
ITEM-CODE    SPACER_DN150_150_L50-0104
    DESCRIPTION    Spacer,ID=150mm,L=50mm, 150Lbs,
    MATERIAL-USER0    SPACER_DN150_150_L50
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    C25HA1K2
    DESCRIPTION    Waf Red Te w/Flg Br,Mnf Std,ASTM A234 Gr.WPB PTFE/PFA lin,Between RF Flanges/RF,Seamless,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    C25HA1K2
    MATERIAL-USER2    
    MATERIAL-USER3    DMFRMMD5DF01L1010100
ITEM-CODE    C111DH9D
    DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  250 mm Length
    MATERIAL-USER0    
    MATERIAL-USER2    BTS222A005010D00
    MATERIAL-USER3    
ITEM-CODE    C2GNJ6U3
    DESCRIPTION    Flg Eq Te,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    C2GNJ6U3
    MATERIAL-USER2    
    MATERIAL-USER3    DGTE20D5DE02L1010000
ITEM-CODE    ..
    DESCRIPTION    SB04 A H10  150 500 620
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    SPACER_DN150_150_L50-0106
    DESCRIPTION    Spacer,ID=150mm,L=50mm, 150Lbs,
    MATERIAL-USER0    SPACER_DN150_150_L50
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    ..
    DESCRIPTION    SB06 B H10 300 600 1800
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    C2GNJ6WF
    DESCRIPTION    Flg Red Te,ASME B16.5,ASTM A234 Gr.WPB PTFE Lined,RF,Seamless,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    C2GNJ6WF
    MATERIAL-USER2    
    MATERIAL-USER3    DGTR20D5DE02L1010000
ITEM-CODE    SPACER-150-0474
    DESCRIPTION    Spacer for lined Butterfly Valve, ID=150mm,L=12mm, 150Lbs,
    MATERIAL-USER0    SPACER-150
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    SPACER-150-0473
    DESCRIPTION    Spacer for lined Butterfly Valve, ID=150mm,L=12mm, 150Lbs,
    MATERIAL-USER0    SPACER-150
    MATERIAL-USER2    
    MATERIAL-USER3    
ITEM-CODE    C2F8R44F
    DESCRIPTION    Flg Pip (Length),ASME B36.10,ASTM A106 Gr.B PTFE Lined,RF,Seamless,150 Lbs,, S-STD, Undefined
    MATERIAL-USER0    C2F8R44F
    MATERIAL-USER2    
    MATERIAL-USER3    PPFP20D40A02L10001WL
