ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           MM
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     MM
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   100P3A-CHW-279001-01
    PIPING-SPEC   A1AA07
    INSULATION-SPEC   CI50
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 6/18/2026 9:01:37 AMToday's Date (Your format) : 18/06/26Today's Date (ISO8601 Small) : 2026-06-18 09:01:37
    ATTRIBUTE20   270
    ATTRIBUTE21   100P3A
    ATTRIBUTE22   01
    ATTRIBUTE24   2069N-270-PID-0031-279
    ATTRIBUTE16   150 CHW 279001 A1AA07 CI
    ATTRIBUTE29   50 mm
    ATTRIBUTE30   *100P3A-CHW-279001-01*
    ATTRIBUTE31   TPC_S3D_BANC2\BANC1\100\2069N\Piping\Pipelines-Tie-In\2069N-270-PID-0031-279
    ATTRIBUTE28   H
    ATTRIBUTE23   20%
    ATTRIBUTE26   N/A
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
    ITEM-ATTRIBUTE0    MATERIAL-USER0
    ITEM-ATTRIBUTE2    MATERIAL-USER2
    ITEM-ATTRIBUTE3    MATERIAL-USER3
VALVE
    COMPONENT-IDENTIFIER    1
    END-POINT    247148.934    743740.000    6926.509     50    FL
    END-POINT    247148.934    743740.000    6748.709     50    FL
    CENTRE-POINT    247148.934    743740.000    6837.609        
    SKEY    VB**
    ITEM-CODE    CVRN9YV
    ITEM-DESCRIPTION    Bal Flg,RB,LP,ISO 17292,ASTM A216 Gr.WCB,RF,150 Lbs,, Undefined, Undefined
    FLOW    2
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CVRN9YV
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    BALR
    COMPONENT-ATTRIBUTE24    VBAG80C4000AL1KZ070L00
    COMPONENT-ATTRIBUTE31    177.8
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    UCI    {00013885-0000-0000-AB91-C57985699004}
    INSULATION-SPEC    CI30
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    ERECTION-ITEM
    WEIGHT    0.000
    SPINDLE-DIRECTION    EAST
    DIRECTION    EAST$ORIENT HANDLE UP
GASKET
    COMPONENT-IDENTIFIER    2
    MASTER-COMPONENT-IDENTIFIER    1
    END-POINT    247148.934    743740.000    6926.509     50    
    END-POINT    247148.934    743740.000    6927.509     50    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-8C72-5A59226A4304}
    ITEM-CODE    CZECARD
    ITEM-DESCRIPTION    NM Flat Gk,ASME B16.21,RF as per ASME B16.5,-,150 Lbs,
    INSULATION-SPEC    CI30
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    COMPONENT-ATTRIBUTE1    GASK
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE3    GASK
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CZECARD
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE28    A1AA07
    COMPONENT-ATTRIBUTE24    GKFG20900O0OL1000200
    COMPONENT-ATTRIBUTE30    2
    COMPONENT-ATTRIBUTE35    CL150
GASKET
    COMPONENT-IDENTIFIER    3
    MASTER-COMPONENT-IDENTIFIER    1
    END-POINT    247148.934    743740.000    6748.709     50    
    END-POINT    247148.934    743740.000    6747.709     50    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-D591-C57985699004}
    ITEM-CODE    CZECARD
    ITEM-DESCRIPTION    NM Flat Gk,ASME B16.21,RF as per ASME B16.5,-,150 Lbs,
    INSULATION-SPEC    CI30
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    COMPONENT-ATTRIBUTE1    GASK
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE3    GASK
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CZECARD
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE28    A1AA07
    COMPONENT-ATTRIBUTE24    GKFG20900O0OL1000200
    COMPONENT-ATTRIBUTE30    2
    COMPONENT-ATTRIBUTE35    CL150
BOLT
    COMPONENT-IDENTIFIER    4
    MASTER-COMPONENT-IDENTIFIER    1
    CO-ORDS    247148.934    743740.000    6926.509        
    UCI    {000138A9-0000-0000-8D72-5A59226A4304}
    BOLT-DIA     .625
    BOLT-LENGTH     90
    BOLT-QUANTITY    4
    BOLT-ITEM-CODE    C111DH8X
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  90 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A1AA07
    COMPONENT-ATTRIBUTE10    C111DH8X
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
BOLT
    COMPONENT-IDENTIFIER    5
    MASTER-COMPONENT-IDENTIFIER    1
    CO-ORDS    247148.934    743740.000    6748.709        
    UCI    {000138A9-0000-0000-D691-C57985699004}
    BOLT-DIA     .625
    BOLT-LENGTH     90
    BOLT-QUANTITY    4
    BOLT-ITEM-CODE    C111DH8X
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  90 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A1AA07
    COMPONENT-ATTRIBUTE10    C111DH8X
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
FLANGE
    COMPONENT-IDENTIFIER    6
    END-POINT    247148.934    743740.000    6747.709     50    
    END-POINT    247148.934    743740.000    6682.685     50    
    SKEY    FLWN
    ITEM-CODE    C40A7VT
    ITEM-DESCRIPTION    WN Flg,ASME B16.5,ASTM A105,RF/BW End,150 Lbs,, Undefined, S-40
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C40A7VT
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    S-40
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    FWN
    COMPONENT-ATTRIBUTE24    FGWN25C5C206L10000
    COMPONENT-ATTRIBUTE31    63.5
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    UCI    {00013885-0000-0000-C691-C57985699004}
    INSULATION-SPEC    CI30
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    FABRICATION-ITEM
    WEIGHT    2.708
PIPE
    COMPONENT-IDENTIFIER    7
    END-POINT    247148.934    743740.000    6682.685     50    
    END-POINT    247148.934    743740.000    6532.685     50    
    FABRICATION-ITEM
    INSULATION-SPEC    CI30
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    WEIGHT    5.568
    UCI    {0001388C-0000-0000-EE67-E7088369A704}
    ITEM-CODE    CPPK8JJJ
    ITEM-DESCRIPTION    Pipes (Length),ASME B36.10,ASTM A106 Gr.B,BE,Seamless,, S-40, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CPPK8JJJ
    COMPONENT-ATTRIBUTE13    S-40
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPPP20C40230000000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    COMPONENT-ATTRIBUTE41    150.0
    CUT-PIECE-LENGTH    150.00
FLOW-ARROW
    CO-ORDS    247148.934    743740.000    6607.685
    FLOW 2
    SKEY FLOW
WELD
    COMPONENT-IDENTIFIER    8
    MASTER-COMPONENT-IDENTIFIER    7
    END-POINT    247148.934    743740.000    6532.685     50    
    END-POINT    247148.934    743740.000    6532.685     50    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4F68-E7088369A704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    100P3A-CHW-279001-01
    WELD-ATTRIBUTE2     50
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    WELD-ATTRIBUTE10    WELD
    WELD-ATTRIBUTE11    100P3A
    WELD-ATTRIBUTE13    CHW-279001
    WELD-ATTRIBUTE27    270
    WELD-ATTRIBUTE14    01
    WELD-ATTRIBUTE15    A1AA07
    WELD-ATTRIBUTE6    2
    WELD-ATTRIBUTE5    2
    WELD-ATTRIBUTE7    2
WELD
    COMPONENT-IDENTIFIER    9
    MASTER-COMPONENT-IDENTIFIER    7
    END-POINT    247148.934    743740.000    6682.685     50    
    END-POINT    247148.934    743740.000    6682.685     50    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-D191-C57985699004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    100P3A-CHW-279001-01
    WELD-ATTRIBUTE2     50
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    WELD-ATTRIBUTE10    WELD
    WELD-ATTRIBUTE11    100P3A
    WELD-ATTRIBUTE13    CHW-279001
    WELD-ATTRIBUTE27    270
    WELD-ATTRIBUTE14    01
    WELD-ATTRIBUTE15    A1AA07
    WELD-ATTRIBUTE6    2
    WELD-ATTRIBUTE5    2
    WELD-ATTRIBUTE7    2
FLANGE-BLIND
    COMPONENT-IDENTIFIER    10
    END-POINT    247540.358    743740.000    6454.140     150    
    END-POINT    247564.234    743740.000    6454.140     150    
    SKEY    FLBL
    ITEM-CODE    CFGDKG5S
    ITEM-DESCRIPTION    Bld Flg,ASME B16.5,ASTM A105,RF,150 Lbs,, Undefined, Undefined
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CFGDKG5S
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE16    7
    COMPONENT-ATTRIBUTE29    FBLD
    COMPONENT-ATTRIBUTE24    FGBL25C5C202L10000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    UCI    {00013885-0000-0000-F768-E7088369A704}
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    ERECTION-ITEM
    WEIGHT    12.000
GASKET
    COMPONENT-IDENTIFIER    11
    MASTER-COMPONENT-IDENTIFIER    10
    END-POINT    247540.358    743740.000    6454.140     150    
    END-POINT    247539.358    743740.000    6454.140     150    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-1269-E7088369A704}
    ITEM-CODE    CZECARK
    ITEM-DESCRIPTION    NM Flat Gk,ASME B16.21,RF as per ASME B16.5,-,150 Lbs,
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    COMPONENT-ATTRIBUTE1    GASK
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE3    GASK
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CZECARK
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE28    A1AA07
    COMPONENT-ATTRIBUTE24    GKFG20900O0OL1000200
    COMPONENT-ATTRIBUTE30    6
    COMPONENT-ATTRIBUTE35    CL150
BOLT
    COMPONENT-IDENTIFIER    12
    MASTER-COMPONENT-IDENTIFIER    10
    CO-ORDS    247540.358    743740.000    6454.140        
    UCI    {000138A9-0000-0000-1369-E7088369A704}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A1AA07
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
FLANGE
    COMPONENT-IDENTIFIER    13
    END-POINT    247539.358    743740.000    6454.140     150    
    END-POINT    247448.934    743740.000    6454.140     150    
    SKEY    FLWN
    ITEM-CODE    CFGDKGPN
    ITEM-DESCRIPTION    WN Flg,ASME B16.5,ASTM A105,RF/BW End,150 Lbs,, Undefined, S-40
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CFGDKGPN
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    S-40
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    FWN
    COMPONENT-ATTRIBUTE24    FGWN25C5C206L10000
    COMPONENT-ATTRIBUTE31    88.9
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    UCI    {00013885-0000-0000-0669-E7088369A704}
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    FABRICATION-ITEM
    WEIGHT    10.846
PIPE
    COMPONENT-IDENTIFIER    14
    END-POINT    246848.934    743740.000    6454.140     150    
    END-POINT    247148.934    743740.000    6454.140     150    
    FABRICATION-ITEM
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    WEIGHT    28.774
    UCI    {0001388C-0000-0000-AB56-E7088369A704}
    ITEM-CODE    CPP01J85
    ITEM-DESCRIPTION    Pipes (Length),ASME B36.10,ASTM A106 Gr.B,BE,Seamless,, S-40, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CPP01J85
    COMPONENT-ATTRIBUTE13    S-40
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPPP20C40230000000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    COMPONENT-ATTRIBUTE41    600.0
    CUT-PIECE-LENGTH    600.00
FLOW-ARROW
    CO-ORDS    246998.934    743740.000    6454.140
    FLOW 1
    SKEY FLOW
PIPE
    COMPONENT-IDENTIFIER    15
    END-POINT    247148.934    743740.000    6454.140     150    
    END-POINT    247448.934    743740.000    6454.140     150    
    FABRICATION-ITEM
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    WEIGHT    28.774
    UCI    {0001388C-0000-0000-AB56-E7088369A704}
    ITEM-CODE    CPP01J85
    ITEM-DESCRIPTION    Pipes (Length),ASME B36.10,ASTM A106 Gr.B,BE,Seamless,, S-40, Undefined
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CPP01J85
    COMPONENT-ATTRIBUTE13    S-40
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPPP20C40230000000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    COMPONENT-ATTRIBUTE41    600.0
    CUT-PIECE-LENGTH    600.00
FLOW-ARROW
    CO-ORDS    247298.934    743740.000    6454.140
    FLOW 1
    SKEY FLOW
TEE-STUB
    COMPONENT-IDENTIFIER    16
    CENTRE-POINT    247148.934    743740.000    6454.140        
    BRANCH1-POINT    247148.934    743740.000    6532.685     50    
    INSULATION-SPEC    CI30
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    SKEY    TESO
WELD
    COMPONENT-IDENTIFIER    17
    MASTER-COMPONENT-IDENTIFIER    15
    END-POINT    247448.934    743740.000    6454.140     150    
    END-POINT    247448.934    743740.000    6454.140     150    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1069-E7088369A704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    100P3A-CHW-279001-01
    WELD-ATTRIBUTE2     150
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    WELD-ATTRIBUTE10    WELD
    WELD-ATTRIBUTE11    100P3A
    WELD-ATTRIBUTE13    CHW-279001
    WELD-ATTRIBUTE27    270
    WELD-ATTRIBUTE14    01
    WELD-ATTRIBUTE15    A1AA07
    WELD-ATTRIBUTE6    6
    WELD-ATTRIBUTE5    6
    WELD-ATTRIBUTE7    6
FLANGE
    COMPONENT-IDENTIFIER    18
    END-POINT    246758.510    743740.000    6454.140     150    
    END-POINT    246848.934    743740.000    6454.140     150    
    SKEY    FLWN
    ITEM-CODE    CFGDKGPN
    ITEM-DESCRIPTION    WN Flg,ASME B16.5,ASTM A105,RF/BW End,150 Lbs,, Undefined, S-40
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CFGDKGPN
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    S-40
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    FWN
    COMPONENT-ATTRIBUTE24    FGWN25C5C206L10000
    COMPONENT-ATTRIBUTE31    88.9
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    UCI    {00013885-0000-0000-9259-E7088369A704}
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    FABRICATION-ITEM
    WEIGHT    10.846
SUPPORT
    CO-ORDS    246758.512    743740.000    6454.140     150
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    ..
    ITEM-DESCRIPTION    Design Pipe Assembly
    SUPPORT-TYPE    Pipe Support
    COMPONENT-ATTRIBUTE30    SUPP
    WEIGHT    0.000
    UCI    {00022311-0000-0000-29DF-9906CA69E304}
    NAME    T276-003
    MATERIAL-LIST    EXCLUDE
GASKET
    COMPONENT-IDENTIFIER    19
    MASTER-COMPONENT-IDENTIFIER    18
    END-POINT    246757.510    743740.000    6454.140     150    
    END-POINT    246758.510    743740.000    6454.140     150    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-20E7-9906CA69E304}
    ITEM-CODE    CZECARK
    ITEM-DESCRIPTION    NM Flat Gk,ASME B16.21,RF as per ASME B16.5,-,150 Lbs,
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    COMPONENT-ATTRIBUTE1    GASK
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE3    GASK
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CZECARK
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE28    A1AA07
    COMPONENT-ATTRIBUTE24    GKFG20900O0OL1000200
    COMPONENT-ATTRIBUTE30    6
    COMPONENT-ATTRIBUTE35    CL150
BOLT
    COMPONENT-IDENTIFIER    20
    MASTER-COMPONENT-IDENTIFIER    18
    CO-ORDS    246758.510    743740.000    6454.140        
    UCI    {000138A9-0000-0000-21E7-9906CA69E304}
    BOLT-DIA     .75
    BOLT-LENGTH     110
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    C111DH8Z
    BOLT-ITEM-DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    ERECTION-ITEM
    COMPONENT-ATTRIBUTE1    NUT
    COMPONENT-ATTRIBUTE3    BOLT
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE28    A1AA07
    COMPONENT-ATTRIBUTE10    C111DH8Z
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE16    2
    COMPONENT-ATTRIBUTE24    BTS222A005010D00
WELD
    COMPONENT-IDENTIFIER    21
    MASTER-COMPONENT-IDENTIFIER    18
    END-POINT    246848.934    743740.000    6454.140     150    
    END-POINT    246848.934    743740.000    6454.140     150    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9D59-E7088369A704}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    100P3A-CHW-279001-01
    WELD-ATTRIBUTE2     150
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    WELD-ATTRIBUTE10    WELD
    WELD-ATTRIBUTE11    100P3A
    WELD-ATTRIBUTE13    CHW-279001
    WELD-ATTRIBUTE27    270
    WELD-ATTRIBUTE14    01
    WELD-ATTRIBUTE15    A1AA07
    WELD-ATTRIBUTE6    6
    WELD-ATTRIBUTE5    6
    WELD-ATTRIBUTE7    6
    WELD-ATTRIBUTE8    Flange
FLANGE
    COMPONENT-IDENTIFIER    22
    END-POINT    246757.510    743740.000    6454.140     150    
    END-POINT    246667.086    743740.000    6454.140     150    
    SKEY    FLWN
    ITEM-CODE    Non-Reportable
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CFGDKGPN
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    S-40
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    FWN
    COMPONENT-ATTRIBUTE24    FGWN25C5C206L10000
    COMPONENT-ATTRIBUTE31    88.9
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    STATUS    DOTTED-DIMENSIONED
    UCI    {00013885-0000-0000-D1E6-9906CA69E304}
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    FABRICATION-ITEM
    WEIGHT    10.846
TEE
    COMPONENT-IDENTIFIER    23
    END-POINT    246381.590    743740.000    6454.140     150    BW
    END-POINT    246667.086    743740.000    6454.140     150    BW
    CENTRE-POINT    246524.338    743740.000    6454.140        
    BRANCH1-POINT    246524.338    743740.000    6578.092     80    BW
    SKEY    TE**
    ITEM-CODE    Non-Reportable
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CDBDJHX7
    COMPONENT-ATTRIBUTE13    S-40
    COMPONENT-ATTRIBUTE15    S-40
    COMPONENT-ATTRIBUTE14    Undefined
    COMPONENT-ATTRIBUTE21    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    TRB
    COMPONENT-ATTRIBUTE24    DBTR20C5C830010000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    STATUS    DOTTED-DIMENSIONED
    UCI    {00013885-0000-0000-91EB-9906CA69E304}
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    FABRICATION-ITEM
    WEIGHT    16.194
WELD
    COMPONENT-IDENTIFIER    24
    MASTER-COMPONENT-IDENTIFIER    23
    END-POINT    246667.086    743740.000    6454.140     150    
    END-POINT    246667.086    743740.000    6454.140     150    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1EE7-9906CA69E304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    100P3A-CHW-279001-01
    WELD-ATTRIBUTE2     150
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    WELD-ATTRIBUTE10    WELD
    WELD-ATTRIBUTE11    100P3A
    WELD-ATTRIBUTE13    CHW-279001
    WELD-ATTRIBUTE27    270
    WELD-ATTRIBUTE14    01
    WELD-ATTRIBUTE15    A1AA07
    WELD-ATTRIBUTE6    6
    WELD-ATTRIBUTE5    6
    WELD-ATTRIBUTE7    6
    WELD-ATTRIBUTE8    Reducing Tee
    STATUS    DOTTED-DIMENSIONED
    MATERIAL-LIST    EXCLUDE
PIPE
    COMPONENT-IDENTIFIER    25
    END-POINT    245880.743    743740.000    6454.140     150    
    END-POINT    246381.590    743740.000    6454.140     150    
    FABRICATION-ITEM
    INSULATION-SPEC    CI50
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    WEIGHT    28.774
    UCI    {0001388C-0000-0000-A1EB-9906CA69E304}
    MATERIAL-LIST    EXCLUDE
    STATUS    DOTTED-DIMENSIONED
    COMPONENT-ATTRIBUTE1    PIPE
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279001
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    CPP01J85
    COMPONENT-ATTRIBUTE13    S-40
    COMPONENT-ATTRIBUTE15    Undefined
    COMPONENT-ATTRIBUTE14    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    PIPE
    COMPONENT-ATTRIBUTE24    PPPP20C40230000000
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    COMPONENT-ATTRIBUTE41    500.8
    CUT-PIECE-LENGTH    500.85
FLOW-ARROW
    CO-ORDS    246131.167    743740.000    6454.140
    FLOW 1
    SKEY FLOW
    MESSAGE
    TEXT      CONNT TO$CHW-279001$
WELD
    COMPONENT-IDENTIFIER    26
    MASTER-COMPONENT-IDENTIFIER    25
    END-POINT    246381.590    743740.000    6454.140     150    
    END-POINT    246381.590    743740.000    6454.140     150    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-B1EB-9906CA69E304}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    100P3A-CHW-279001-01
    WELD-ATTRIBUTE2     150
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    WELD-ATTRIBUTE10    WELD
    WELD-ATTRIBUTE11    100P3A
    WELD-ATTRIBUTE13    CHW-279001
    WELD-ATTRIBUTE27    270
    WELD-ATTRIBUTE14    01
    WELD-ATTRIBUTE15    A1AA07
    WELD-ATTRIBUTE6    6
    WELD-ATTRIBUTE5    6
    WELD-ATTRIBUTE7    6
    STATUS    DOTTED-DIMENSIONED
    MATERIAL-LIST    EXCLUDE
FLANGE
    COMPONENT-IDENTIFIER    27
    CONTINUATION
    END-POINT    247148.934    743740.000    6927.509     50    
    END-POINT    247148.934    743740.000    6992.533     50    
    SKEY    FLWN
    ITEM-CODE    C40A7VT
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    COMP
    COMPONENT-ATTRIBUTE2    100P3A
    COMPONENT-ATTRIBUTE6    CHW-279901
    COMPONENT-ATTRIBUTE27    270
    COMPONENT-ATTRIBUTE8    01
    COMPONENT-ATTRIBUTE10    C40A7VT
    COMPONENT-ATTRIBUTE13    Undefined
    COMPONENT-ATTRIBUTE15    S-40
    COMPONENT-ATTRIBUTE14    CL150
    COMPONENT-ATTRIBUTE21    Undefined
    COMPONENT-ATTRIBUTE16    5
    COMPONENT-ATTRIBUTE29    FWN
    COMPONENT-ATTRIBUTE24    FGWN25C5C206L10000
    COMPONENT-ATTRIBUTE31    63.5
    COMPONENT-ATTRIBUTE32    5
    COMPONENT-ATTRIBUTE33    2
    COMPONENT-ATTRIBUTE34    A1AA07
    UCI    {00013885-0000-0000-CA01-F360CB691F05}
    INSULATION-SPEC    CI30
    INSULATION ON
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    A1AA07
    FABRICATION-ITEM
    WEIGHT    2.708
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS    247540.358    743740.000    6454.140        
    REFERENCE-DIMENSION-PRIME
    CO-ORDS    250900.000    743740.000    6454.140        
    REFERENCED-ITEM
    CO-ORDS    250900.000    780800.000    6454.140        
    CO-ORDS    250900.000    794800.000    6454.140        
    SKEY    GRD
    MESSAGE
    TEXT    8/H1
REFERENCE-DIMENSION
    REFERENCE-POINT-LOCATION
    CO-ORDS    247540.358    743740.000    6454.140        
    REFERENCE-DIMENSION-PRIME
    CO-ORDS    247540.358    781800.000    6454.140        
    REFERENCED-ITEM
    CO-ORDS    525400.000    781800.000    6454.140        
    CO-ORDS    190900.000    781800.000    6454.140        
    SKEY    GRD
    MESSAGE
    TEXT    GPY-2
END-CONNECTION-PIPELINE
    CO-ORDS    247148.934    743740.000    6992.533
    CONNECTION-REFERENCE  100P3A-CHW-279901-01
END-POSITION-CLOSED
    CO-ORDS    247564.234    743740.000    6454.140
END-POSITION-OPEN
    CO-ORDS    246524.338    743740.000    6578.092
END-POSITION-OPEN
    CO-ORDS    245880.743    743740.000    6454.140
MATERIALS
ITEM-CODE    CVRN9YV
    DESCRIPTION    Bal Flg,RB,LP,ISO 17292,ASTM A216 Gr.WCB,RF,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    CVRN9YV
    MATERIAL-USER2    
    MATERIAL-USER3    VBAG80C4000AL1KZ070L00
ITEM-CODE    CZECARD
    DESCRIPTION    NM Flat Gk,ASME B16.21,RF as per ASME B16.5,-,150 Lbs,
    MATERIAL-USER0    
    MATERIAL-USER2    GKFG20900O0OL1000200
    MATERIAL-USER3    
ITEM-CODE    C111DH8X
    DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  90 mm Length
    MATERIAL-USER0    
    MATERIAL-USER2    BTS222A005010D00
    MATERIAL-USER3    
ITEM-CODE    C40A7VT
    DESCRIPTION    WN Flg,ASME B16.5,ASTM A105,RF/BW End,150 Lbs,, Undefined, S-40
    MATERIAL-USER0    C40A7VT
    MATERIAL-USER2    
    MATERIAL-USER3    FGWN25C5C206L10000
ITEM-CODE    CPPK8JJJ
    DESCRIPTION    Pipes (Length),ASME B36.10,ASTM A106 Gr.B,BE,Seamless,, S-40, Undefined
    MATERIAL-USER0    CPPK8JJJ
    MATERIAL-USER2    
    MATERIAL-USER3    PPPP20C40230000000
ITEM-CODE    CFGDKG5S
    DESCRIPTION    Bld Flg,ASME B16.5,ASTM A105,RF,150 Lbs,, Undefined, Undefined
    MATERIAL-USER0    CFGDKG5S
    MATERIAL-USER2    
    MATERIAL-USER3    FGBL25C5C202L10000
ITEM-CODE    CZECARK
    DESCRIPTION    NM Flat Gk,ASME B16.21,RF as per ASME B16.5,-,150 Lbs,
    MATERIAL-USER0    
    MATERIAL-USER2    GKFG20900O0OL1000200
    MATERIAL-USER3    
ITEM-CODE    C111DH8Z
    DESCRIPTION    SBlt 2 HHx N,ASME B18.2.1/ASME B18.2.2,Full Length Threaded, -  110 mm Length
    MATERIAL-USER0    
    MATERIAL-USER2    BTS222A005010D00
    MATERIAL-USER3    
ITEM-CODE    CFGDKGPN
    DESCRIPTION    WN Flg,ASME B16.5,ASTM A105,RF/BW End,150 Lbs,, Undefined, S-40
    MATERIAL-USER0    CFGDKGPN
    MATERIAL-USER2    
    MATERIAL-USER3    FGWN25C5C206L10000
ITEM-CODE    CPP01J85
    DESCRIPTION    Pipes (Length),ASME B36.10,ASTM A106 Gr.B,BE,Seamless,, S-40, Undefined
    MATERIAL-USER0    CPP01J85
    MATERIAL-USER2    
    MATERIAL-USER3    PPPP20C40230000000
ITEM-CODE    ..
    DESCRIPTION    Design Pipe Assembly
    MATERIAL-USER0    
    MATERIAL-USER2    
    MATERIAL-USER3    
